body {
    background-image: url("../resources/DSC_9842.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}
table {
    border-radius: 5px;
    border: white 2px;
    padding: 5px;
    width: max-content;
    background-image: url("../resources/tablebg.png");
}
.theme table {
    border-radius: 5px;
    border: white 2px;
    padding: 5px;
    width: max-content;
    background-image: url("../resources/tablebg.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div.image:before {
    content:url(../resources/tablebg.png);
}​


#container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
#container p {
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#container {
    background-image:url(../resources/contentbg.png);
    background-position:center;
    width: max-content;
    height: max-content;

}